{{FrontSide}}
<hr id="answer">
<div class="meanings">{{Meanings}}</div>
{{#StrokeCount}}<div class="metadata">{{StrokeCount}} strokes</div>{{/StrokeCount}}
{{#StrokeOrder}}<section class="kanji-strokes">{{StrokeOrder}}</section>{{/StrokeOrder}}
{{#CommonReadings}}<section class="kanji-reference">{{CommonReadings}}</section>{{/CommonReadings}}
{{#OtherReadings}}<section class="kanji-reference">{{OtherReadings}}</section>{{/OtherReadings}}
{{#ReadingInventory}}<section class="kanji-reference">{{ReadingInventory}}</section>{{/ReadingInventory}}
{{#Sources}}<div class="source">{{Sources}}</div>{{/Sources}}
