{{FrontSide}}
<hr id="answer">
<div class="reading reading-large">{{Reading}}</div>
<div class="meanings">{{Meanings}}</div>
{{#Romaji}}<details class="romaji"><summary>Romaji</summary>{{Romaji}}</details>{{/Romaji}}
{{#CasualJapanese}}<section class="example casual"><h3>Casually</h3><div class="example-japanese">{{CasualJapanese}}</div>{{#CasualFurigana}}<div class="example-furigana">{{furigana:CasualFurigana}}</div>{{/CasualFurigana}}{{#CasualEnglish}}<div class="example-english">{{CasualEnglish}}</div>{{/CasualEnglish}}{{#CasualAudio}}<div class="example-audio">{{CasualAudio}}</div>{{/CasualAudio}}</section>{{/CasualJapanese}}
{{#KanjiInfo}}<section class="kanji-info">{{KanjiInfo}}</section>{{/KanjiInfo}}
<div class="actions"><a href="shirabelookup://search?w={{ShirabeQuery}}">Open in Shirabe</a><a href="https://jpdb.io/search?q={{Expression}}&amp;lang=english">Open in jpdb</a></div>
